<div class="footer">
    <div class="info">
        <div class="logo-footer">
            <img src="../../assets/img/NBS_V2.1.png">
        </div>
        <div class="info-footer">
            <div class="menu">
                <span>
                    Menu
                </span>
                <a routerLink=""> Accueil</a>
                <a routerLink="/services">Services</a>
                <a routerLink="/boutique"> Boutique</a>
                <a routerLink="/nous-contacter">Nous Contacter</a>
            </div>
            <div class="follow">
                <span>
                    Suivez-Nous
                </span>
                <div>
                    <img src="../../assets/img/Instagram-icon.png">
                    <img src="../../assets/img/Facebook-icon.png">
                    <img src="../../assets/img/Youtube-icon.png">
                </div>
                

            </div>


            <div class="contact-us">
                <span>
                    Contactez-Nous
                </span>

                <span>Tel: 06 87 53 18 22</span>
                <span>@mail: nguepi.barber@gmail.com</span>
                <span>Adresse: 12 rue Bépanda, 3100 - Toulouse</span>

                <div class="follow-small-screen">
                    <img src="../../assets/img/Instagram-icon.png">
                    <img src="../../assets/img/Facebook-icon.png">
                    <img src="../../assets/img/Youtube-icon.png">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">Copyright © 2020 Nguepi Barber Shop. All rights reserved.</div>

</div>