<div class="footer">
    <div class="info">
        <div class="logo-footer">
            <img src="../../assets/img/logo-gold-footer.svg">
        </div>
        <div class="info-footer">
            <div class="menu">
                <span>
                    Menu
                </span>
                <a routerLink=""> Accueil</a>
                <a routerLink="/services">Services</a>
                <a routerLink="/publication-formation">Publications / Formations</a>
            </div>



            <div class="contact-us">
                <span>
                    Contactez-Nous
                </span>

                <span>Tel: 02 23 40 46 21</span>
                <span>@mail: cabinet@leverger-avocats.fr</span>
                <span>Adresse: 39 boulevard de la liberté,35000 - RENNES </span>

                <div class="follow-small-screen">
                    <img src="../../assets/img/Instagram-icon.png">
                    <img src="../../assets/img/Facebook-icon.png">
                    <img src="../../assets/img/Youtube-icon.png">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">Mentions légales © 2021 - Maître Mélanie LE VERGER, avocate au Barreau de Rennes. Tous droits réservés.</div>
    
    
</div>