.pub-form {
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.introduction{
    width: 85%;
     margin-bottom:3vh;
     background-color: white;
     padding: 3vh;
     text-align: justify;
}


.item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2.5vh;
    width:85%;
    position: relative;
}


.publication{
    display: flex;
    align-items: center;
    padding: 1vh;
    width:100%;
    background-color: rgb(233, 233, 233);

}



.publication div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2vh;
}

.type-publication{
    margin-bottom: 1vh;
    background-color: rgb(26, 24, 24);
    color: white;
    padding:1vh;
    border-radius: 5px;
    
}

.type-formation{
    margin-bottom: 1vh;
    background-color:orange;
    color: white;
    padding:1vh;
    border-radius: 5px;
    
}

.title{
    font-weight: bold;
    font-size: 1.1em;
}

.resume{
    width:100%;
    text-align:justify;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom:2vh;
    align-self: center;
}

.resume > span{
    width:100%;
    margin-bottom: 50vh;
    height: 20vh;


}
.resume > a{
    width:100%;
    color: red;
    text-decoration: none;
}