<div class="expertises">

    <h1>Nos Domaines D'expertises</h1>
    <span class="introduction">

        Pour sublimer cette page sans toutefois en faire trop il faudrait un petit texte ici. Je ne sais pas quoi écrire je vais donc écrire n'mporte quoi.
        Nos équipes d'experts vous accompagnent dans toutes vos démarches administratives. C'est nous les bests, c'est nous les boss.
        On gagne tous nos procès haut la main. Même le juge ne peut pas tester. Nos clients finissent heureux et ils sont tellements satisfaient qu'ils commettent encore des délits seulement pour qu'on les représente à nouveau. Nous sommes les meilleurs au cabinet Le Verger.
        
    </span>
    <div class="expertises-bloc">
        <div class="expertise-element">
            <h2>Droit d’asile </h2>
            <ul>
                <li>Conseils et aide à la constitution du dossier avant l’entretien OFPRA</li>
                <li>Préparation à l’entretien OFPRA</li>
                <li>Recours devant la Cour nationale du droit d’asile</li>
            </ul>
        </div>
        <div class="expertise-element">
            <h2>Droit au séjour</h2>
            <ul>
                <li>Conseils et orientation</li>
                <li>Constitution des dossiers de demande de titre de séjour auprès des préfectures</li>
                <li>Recours contre les refus de séjour et obligations de quitter le territoire OQTF)</li>
            </ul>
        </div>

        <div class="expertise-element">
            <h2>Droit d’entrée en France</h2>
            <ul>
                <li>Regroupement familial ou tout autre motif d’entrée en France</li>
                <li>Conseils et orientation sur les demandes de visas</li>
                <li>Recours contre les décisions de refus</li>
            </ul>
        </div>

        <div class="expertise-element">
            <h2>Nationalité française </h2>
            <ul>
                <li>Conseils et orientation</li>
                <li>recours contre les refus ou les décisions d’ajournement</li>
            </ul>
        </div>

        <div class="expertise-element">
            <h2>Mineurs non accompagnés</h2>
            <ul>
                <li>Conseils et orientation</li>
                <li>Engagement de procédures devant le juge des enfants, le juge des tutelles, le juge aux affaires familiales</li>
            </ul>
        </div>

        <div class="expertise-element">
            <h2>Droit pénal des étrangers</h2>
        </div>

        <div class="expertise-element">
            <h2>Permis de conduire étranger </h2>
            <ul>
                <li>conseils et contentieux</li>
            </ul>
        </div>
    </div>
</div>