.expertises{

    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #dbdde6;
 }
 
 h1{
    margin-top: 6vh;
     margin-bottom: 6vh;
 }

 .introduction{
     width: 85%;
     margin-bottom:3vh;
     background-color: white;
     padding: 3vh;
     text-align: justify;
 }
 .expertises-bloc{

display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
align-items: flex-start;
justify-content: center;
width: 90%;
 }

 .expertise-element{
     display: flex;
     flex-direction: column;
     width: 40vh;
     margin-bottom: 2vh;
     margin-left: 1vh;
     margin-right: 1vh;
 }

 h2{
     text-align: center;
     font-size: 1.5em;
     margin-bottom: 2vh;
 }

 span{
     text-align: left;
 }

