<div class="home">

    <div class="resever-form">

    </div>

    <span>Yo, le Barbershop, j'ai fait un petit travail là. J'ai commencé à bosser un p'tit peu les logos de ton salon de coiffure .</span> 
    <span>Pour l'intant je ne suis pas go loin. Si jamais le projet peux vraiment t'interesser dis moi on s'arrange, j'ai pas mal d'idées à proposer. </span>

    <h2>Ci-bas quelques idées de logos</h2>
    <div class="images">
        <img class="image" src="../../assets/img/NBS_V1.2.png">
        <img class="image" src="../../assets/img/NBS_V1.3.png">

        <img class="image" src="../../assets/img/NBS_V1.4.png">
        <img class="image" src="../../assets/img/NBS_V2.1.png">
        <img class="image" src="../../assets/img/NBS_V2.2.png">
    </div>
</div>