<div class="accueil">
    <h1>Le Verger Avocat, cabinet à Rennes</h1>
    <div class="introduction">

        <span>
            Pour sublimer cette page, il faudrait texte introductif ici qui présente le cabinet de façon globale, précisant des informations comme la date de création par exemple, résumant l'activité et les domaines d'expertises du cabinet par exemple. 
            Comme je ne suis pas du métier, je ne sais donc quoi écrire mais je vais tout de même écrire n'importe quoi.
            Nos équipes d'experts vous accompagnent dans toutes vos démarches administratives. C'est nous les bests, c'est nous les boss.On gagne tous nos procès haut la main. 
            Même le juge ne peut pas tester. Nos clients finissent heureux et ils sont tellements satisfaient qu'ils commettent encore des délits seulement pour qu'on les représente à nouveau.
             Nous sommes les meilleurs au cabinet Le Verger.
        </span>
    </div>
    <div class="personnel-bloc">
        <div class="personnel">


            <div class="image-bloc">
                <img src="../../assets/img/melanie.png" alt="image de maitre Mélanie Le VERGER">
                <div class="image-bloc-text">
                    <span>Mélanie LE VERGER</span>
                    <span>Avocate au Barreau de RENNES depuis 2005</span>
                </div>
            </div>
            <div class="content-bloc">
                <div class="content">

                    <span>Parcours professionnel</span>
                    <span>
                        Après des études de droit public axées sur la protection des droits humains aux niveaux international et européen, et après l’obtention du CAPA (certificat d’aptitude à la profession d’avocat), Mélanie Le Verger a travaillé pendant quatre années comme chargée de mission et juriste pour une Organisation non gouvernementale impliquée dans la défense des droits humains.
                    </span>
                    <span>
                        Cette expérience forte au cours de laquelle elle a effectué plusieurs missions d’enquête internationale sur les violations des droits humains notamment en Turquie, en Thaïlande, en Birmanie et à Calais et des activités de lobbying dans le cadre de rencontres internationales (Nations Unies notamment) l’a convaincue de la nécessité de protéger les migrants, les réfugiés, les personnes en exil et de poursuivre son action en faveur des personnes vulnérables dans le cadre de la profession d’avocat.
                    </span>

                </div>
            </div>
        </div>

        <div class="interculturalite ">

                
            <span>L’interculturalité </span>
            <div>
                <span>
                    Exerçant la profession d’avocat auprès des migrants notamment depuis 2005, Mélanie Le Verger a enrichi son parcours d’un diplôme universitaire dans le domaine de la médiation et de la psychologie interculturelle pour être au plus proche des personnes issues de cultures non occidentales et pour leur permettre de se sentir comprises et rassurées dans le cadre d’une relation de confiance.
                </span>
                <span>
                    Cette approche à la fois juridique, interculturelle et psychologique permet une appréhension globale et approfondie des demandes de protection, notamment dans le cadre des demandes d’asile, mais également auprès des juges civils (juge des enfants, juge des tutelles, juge aux affaires familiales).
                </span>
            </div>

        </div>

        <div class="personnel">
            <div class="image-bloc image-bloc-2">
                <img src="../../assets/img/melanie.png" alt="image de maitre Mélanie Le VERGER">
                <div class="image-bloc-text">
                    <span>Aurélie ZAEGEL</span>
                    <span>Avocate depuis janvier 2017</span>
                </div>
            </div>
            <div class="content-bloc">
                <div class="content content-bloc-second">

                
                    <span>Parcours professionnel</span>
                    <span>
                        Titulaire d’une double Licence en droit et en histoire, Aurélie Zaegel a souhaité se spécialiser dans la défense des droits humains, et a obtenu un Master 2 Droit International, Action et droit humanitaires puis un Diplôme d’études supérieures universitaires (DESU) Juriste internationaliste de terrain pour les droits de l’Homme appliqués.
                    </span>
                    <span>
                        Après plusieurs expériences en France et à l’étranger dans des associations et organisations non gouvernementales impliquées dans la défense des droits humains (défense des victimes auprès de la Cour interaméricaine des droits de l’Homme, protection des défenseurs des droits humains menacés à l’étranger, permanences juridiques pour les étrangers …), elle a décidé de poursuivre son engagement en tant qu’avocate.</span>
                    <span>
                        Investie dans la défense des étrangers depuis de nombreuses années, c’est dans ce domaine qu’elle a choisi d’exercer. En 2017, elle intègre un cabinet à Nantes intervenant en droit des étrangers et de la nationalité. Depuis février 2019, elle exerce à Rennes, dans le même domaine, en collaboration avec Maître Mélanie LE VERGER.
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>